{% extends 'base.html.twig' %} {% block body %}
<div class="container my-5 pt-5">
  <h2 class="page-header">Add a new Destination</h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}
